# Compiled Object files
*.slo
*.obj
*.suo
*.db
*.opendb

project.lock.json

# Precompiled Headers
*.ipch
*.pch

# Compiled Dynamic libraries
*.dll


# Compiled Static libraries
*.lib

# Executables
*.exe
*.out
*.app
